.searchbar {
  background-color: $color-primary-blur;
  border-radius: 5px;
  margin: 0 auto;

  padding: 1.5rem 1.5rem;


  .searchbar-container {
    display: flex;
    justify-items: center;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    @include md() {
      flex-direction: column;
      align-items: normal;
    }


    &__title {
      font-weight: $font-semibold;
      font-size: $text-base;
    }

    &__input {
      border: 1px solid #ccc;
      outline: none;
      border-radius: 0.5rem;
      padding: 1rem 0.5rem;
      min-width: 30rem;

      @include md() {
        min-width: 0;
        flex: 1
      }


      &:focus {
        border-color: $color-blue
      }
    }


    &__button {
      background-color: $color-primary;
      border: none;
      border-radius: 8px;
      padding: 1rem 2rem;

      display: flex;
      align-items: center;
      justify-content: center;


      span {
        margin-left: 0.3rem;
        color: white;
      }
    }
  }

}

.center {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
}