/* Checkbox.module.scss */


.checkbox {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &__input {
    display: none;
    visibility: hidden;

    &:checked + .checkbox__label span:first-child {
      background: $checkbox-active;
      border-color: $checkbox-active;
      animation: wave 0.4s ease;
    }

    &:checked + .checkbox__label span:first-child svg {
      stroke-dashoffset: 0;
    }

    &:checked + .checkbox__label span:first-child::before {
      transform: scale(3.5);
      opacity: 0;
      transition: all 0.6s ease;
    }
  }

  &__label {
    margin: auto;
    user-select: none;
    cursor: pointer;
    font-size: $text-sm;
    font-weight: $font-medium;

    span {
      display: inline-block;
      vertical-align: middle;
      transform: translate3d(0, 0, 0);
    }

    span:first-child {
      position: relative;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      transform: scale(1);
      vertical-align: middle;
      border: 1.3px solid $checkbox-border;
      transition: all 0.2s ease;

      svg {
        width: 10px;
        height: 8.3px;
        position: absolute;
        top: 4px;
        left: 2.7px;
        fill: none;
        stroke: #fff;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all 0.3s ease;
        transition-delay: 0.1s;
        transform: translate3d(0, 0, 0);
      }
    }

    span:last-child {
      padding-left: 10px;
    }

    &:hover span:first-child {
      border-color: $checkbox-active;
    }
  }
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}